<%= form_with model: @contact, url: contact_forms_path do |form| %>
  <label class="form-label" for="contact_name">Name:</label>
  <%= form.text_field :name, class: "form-input", id: "contact_name" %>

  <label class="form-label" for="contact_phone">Phone:</label>
  <%= form.text_field :phone, class: "form-input", id: "contact_phone" %>

  <label class="form-label" for="contact_email">Email:</label>
  <%= form.email_field :email, class: "form-input", id: "contact_email" %>

  <label class="form-label" for="contact_question">Question:</label>
  <%= form.text_area :question, class: "form-textarea", id: "contact_question" %>

  <%= form.submit 'Submit', class: "form-submit" %>
<% end %>